<div class="container">
    <h1 class="heading">Dynamic Form</h1>
    <h2 class="heading">Register</h2>
    <form [formGroup]="registerForm" class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Enter your name here">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input formControlName="phone" matInput placeholder="Enter your phone number here">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email Address</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email address here">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Enter your password here">
        </mat-form-field>

        <button type="button" (click)="registerAdmin()" mat-raised-button color="primary">Register</button>
        <button type="button" (click)="openLoginPage()" mat-raised-button color="primary">Already Registered?</button>

    </form>
</div>